.extra-navigation {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 66px;
  @include list;
  margin-left: 9px;
  margin-right: 5px;
}

.extra-navigation__link {
  @include navigation-link;
  padding: 31px 0;
}
