.good-information {
  margin-left: 54px;
}

.good-information__name {
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 2px;
  font-size: 30px;
  font-weight: bold;

  @media(min-width: $desktop-width) {
    margin-top: 0;
  }
}

.good-information__price {
  margin-bottom: 33px;
  display: flex;
  flex-wrap: wrap;
}

.good-information__new-price {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  margin-right: 35px;
  margin-left: 3px;
  font-family: "Open Sans", "Arial", sans-serif;
  margin-bottom: 18px;
}

.good-information__old-price {
  margin: 0;
  opacity: 0.5;
  font-size: 20px;
  vertical-align: top;
  font-family: "Open Sans", "Arial", sans-serif;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 122px;
    height: 1px;
    background-color: $main-text-color;
    opacity: 0.5;
    transform: rotate(-5deg);
    top: 10px;
  }
}

.good-information__request {
  @include bright-button;
  min-width: 196px;
  min-height: 52px;
  display: block;
  margin-bottom: 15px;
}

.good-information__credit {
  @include light-button;
  min-width: 222px;
  min-height: 52px;
}
