@mixin list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin navigation-link {
  text-decoration: none;
  color: $main-text-color;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;

  &:hover {
    color: $highlighted-text-color;
  }

  &:active,
  &:focus {
    opacity: 0.7;
  }
}
